	img.imagens_personagens {
		float: left;
		width: 25%;
		padding: 5%;
		display: block;
	}

	img.imagens_personagens2 {
		float: left;
		width: 30%;
		padding: 5%;
		display: block;
	}

	#squigly-img {
		float: left;
		width: 20%;
		padding: 5%;
		display: block;
	}

	#double-img {
		float: left;
		width: 15%;
		padding: 5%;
		display: block;
	}

	header li:nth-of-type(3) {
		display: inline-block;
		list-style: none;
		margin-left: 10%;
		padding: 10px;
		border: 1px gold solid;
		border-radius: 5px;
		background-color: rgb(27, 30, 76);
		color: gold;
	}